div.div-1{
  background-color: red;
  width: 200px;
  height: 150px;
}

div.div-2{
background-color: yellow;
width: 300px;
height: 250px;
bottom: 100px;
}

div.div-3{
  background-color: green;
  width: 200px;
  height: 200px;
  float: right;
  position: absolute;
  top: 0;
  right: 50px;

}

div{
  position: absolute;
  top: 0px;
}

P {
 clear: both;
 overflow: hidden;
}

.div-3 outer{
  border: 2px orange;
  height: 400px;
  width: 250px;
background-color: cyan;
position: relative;

}